<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upscale Your Work</title>
    <link rel="stylesheet" href="./css/style2.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     
        
  </head>
  <body>
    <div id="wrapper">
      <nav class="nav_bar">
        <div class="logo"></div>
        <div class="header">
            <div>
                <input type="text" class="search-bar" placeholder="Search..." />
            </div>
            <div>
                <div class="buttons">
                    <a href="/logout" class="logout">Log out</a>
                    <div class="profileicon"></div>
                  </div>
            </div>
        </div>
      </nav>
       <div class="container1">
        <div class="image-content">
          <img src="./asset/image.png" alt="Illustration of a person working" />
        </div>
        <div class="text-content">
          <h1>Upscale your work here</h1>
          <p>
            Work when you are in zone. <br />
            Find talent you need for upscaling your work.
          </p>
        </div>
      </div>
      <div class="foot-class">
        <div class="Role">
          <div class="container noselect">
            <div class="canvas">
              <div class="tracker tr-1"></div>
              <div class="tracker tr-2"></div>
              <div class="tracker tr-3"></div>
              <div class="tracker tr-4"></div>
              <div class="tracker tr-5"></div>
              <div class="tracker tr-6"></div>
              <div class="tracker tr-7"></div>
              <div class="tracker tr-8"></div>
              <div class="tracker tr-9"></div>
              <div class="tracker tr-10"></div>
              <div class="tracker tr-11"></div>
              <div class="tracker tr-12"></div>
              <div class="tracker tr-13"></div>
              <div class="tracker tr-14"></div>
              <div class="tracker tr-15"></div>
              <div class="tracker tr-16"></div>
              <div class="tracker tr-17"></div>
              <div class="tracker tr-18"></div>
              <div class="tracker tr-19"></div>
              <div class="tracker tr-20"></div>
              <div class="tracker tr-21"></div>
              <div class="tracker tr-22"></div>
              <div class="tracker tr-23"></div>
              <div class="tracker tr-24"></div>
              <div class="tracker tr-25"></div>
              <div id="card">
              <p id="prompt">Web Dev..</p>
                <div class="title">Web<br>Development</div>
              </div>
            </div>
          </div>
          <div class="container noselect">
            <div class="canvas">
              <div class="tracker tr-1"></div>
              <div class="tracker tr-2"></div>
              <div class="tracker tr-3"></div>
              <div class="tracker tr-4"></div>
              <div class="tracker tr-5"></div>
              <div class="tracker tr-6"></div>
              <div class="tracker tr-7"></div>
              <div class="tracker tr-8"></div>
              <div class="tracker tr-9"></div>
              <div class="tracker tr-10"></div>
              <div class="tracker tr-11"></div>
              <div class="tracker tr-12"></div>
              <div class="tracker tr-13"></div>
              <div class="tracker tr-14"></div>
              <div class="tracker tr-15"></div>
              <div class="tracker tr-16"></div>
              <div class="tracker tr-17"></div>
              <div class="tracker tr-18"></div>
              <div class="tracker tr-19"></div>
              <div class="tracker tr-20"></div>
              <div class="tracker tr-21"></div>
              <div class="tracker tr-22"></div>
              <div class="tracker tr-23"></div>
              <div class="tracker tr-24"></div>
              <div class="tracker tr-25"></div>
              <div id="card">
              <p id="prompt">Software Engg..</p>
                <div class="title">Software<br>Engineering</div>
              </div>
            </div>
          </div>
          <div class="container noselect">
            <div class="canvas">
              <div class="tracker tr-1"></div>
              <div class="tracker tr-2"></div>
              <div class="tracker tr-3"></div>
              <div class="tracker tr-4"></div>
              <div class="tracker tr-5"></div>
              <div class="tracker tr-6"></div>
              <div class="tracker tr-7"></div>
              <div class="tracker tr-8"></div>
              <div class="tracker tr-9"></div>
              <div class="tracker tr-10"></div>
              <div class="tracker tr-11"></div>
              <div class="tracker tr-12"></div>
              <div class="tracker tr-13"></div>
              <div class="tracker tr-14"></div>
              <div class="tracker tr-15"></div>
              <div class="tracker tr-16"></div>
              <div class="tracker tr-17"></div>
              <div class="tracker tr-18"></div>
              <div class="tracker tr-19"></div>
              <div class="tracker tr-20"></div>
              <div class="tracker tr-21"></div>
              <div class="tracker tr-22"></div>
              <div class="tracker tr-23"></div>
              <div class="tracker tr-24"></div>
              <div class="tracker tr-25"></div>
              <div id="card">
              <p id="prompt">Digital Mktg..</p>
                <div class="title">Digital<br>Marketing</div>
              </div>
            </div>
          </div>
          <div class="container noselect">
            <div class="canvas">
              <div class="tracker tr-1"></div>
              <div class="tracker tr-2"></div>
              <div class="tracker tr-3"></div>
              <div class="tracker tr-4"></div>
              <div class="tracker tr-5"></div>
              <div class="tracker tr-6"></div>
              <div class="tracker tr-7"></div>
              <div class="tracker tr-8"></div>
              <div class="tracker tr-9"></div>
              <div class="tracker tr-10"></div>
              <div class="tracker tr-11"></div>
              <div class="tracker tr-12"></div>
              <div class="tracker tr-13"></div>
              <div class="tracker tr-14"></div>
              <div class="tracker tr-15"></div>
              <div class="tracker tr-16"></div>
              <div class="tracker tr-17"></div>
              <div class="tracker tr-18"></div>
              <div class="tracker tr-19"></div>
              <div class="tracker tr-20"></div>
              <div class="tracker tr-21"></div>
              <div class="tracker tr-22"></div>
              <div class="tracker tr-23"></div>
              <div class="tracker tr-24"></div>
              <div class="tracker tr-25"></div>
              <div id="card">
              <p id="prompt">Graphic Des..</p>
                <div class="title">Graphic<br>Design</div>
              </div>
            </div>
          </div>
          <div class="container noselect">
            <div class="canvas">
              <div class="tracker tr-1"></div>
              <div class="tracker tr-2"></div>
              <div class="tracker tr-3"></div>
              <div class="tracker tr-4"></div>
              <div class="tracker tr-5"></div>
              <div class="tracker tr-6"></div>
              <div class="tracker tr-7"></div>
              <div class="tracker tr-8"></div>
              <div class="tracker tr-9"></div>
              <div class="tracker tr-10"></div>
              <div class="tracker tr-11"></div>
              <div class="tracker tr-12"></div>
              <div class="tracker tr-13"></div>
              <div class="tracker tr-14"></div>
              <div class="tracker tr-15"></div>
              <div class="tracker tr-16"></div>
              <div class="tracker tr-17"></div>
              <div class="tracker tr-18"></div>
              <div class="tracker tr-19"></div>
              <div class="tracker tr-20"></div>
              <div class="tracker tr-21"></div>
              <div class="tracker tr-22"></div>
              <div class="tracker tr-23"></div>
              <div class="tracker tr-24"></div>
              <div class="tracker tr-25"></div>
              <div id="card">
              <p id="prompt">More..</p>
                <div class="title">More<br>Roles</div>
              </div>
            </div>
          </div>
        </div>
      </div>

          
              <div class="banner">
         <div class="slider" style="--quantity: 10">
            <div class="item" style="--position: 1"><a href="#"><img src="./asset/img/image1.jpeg" alt=""></a></div>
            <div class="item" style="--position: 2"><a href="#"><img src="./asset/img/img2.jpeg" alt=""></a></div>
            <div class="item" style="--position: 3"><a href="#"><img src="./asset/img/img3.jpeg" alt=""></a></div>
            <div class="item" style="--position: 4"><a href="#"><img src="./asset/img/img4.jpeg" alt=""></a></div>
            <div class="item" style="--position: 5"><a href="#"><img src="./asset/img/img5.jpeg" alt=""></a></div>
            <div class="item" style="--position: 6"><a href="#"><img src="./asset/img/img6.jpeg" alt=""></a></div>
            <div class="item" style="--position: 7"><a href="#"><img src="./asset/img/img7.jpeg" alt=""></a></div>
            <div class="item" style="--position: 8"><a href="#"><img src="./asset/img/img8.jpeg" alt=""></a></div>
            <div class="item" style="--position: 9"><a href="#"><img src="./asset/img/img9.jpeg" alt=""></a></div>
            <div class="item" style="--position: 10"><a href="#"><img src="./asset/img/img10.jpeg" alt=""></a></div>
        </div>
        <div class="content">
            <h1 data-content="HireRush">
                HireRush
            </h1>
            <div class="author">
                <h2>Top </h2>
                <p><b>HireRusher</b></p>
               
            </div>
            <div class="model"></div>
        </div>
    </div>


      <div class="footer">
        <div>
          <ul class="List1">
            <li class="Hirerush">Hirerush</li><br/>
            <li><a href="#">Categories</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Contests</a></li>
            <li><a href="#">Hirerushers</a></li>
            <li><a href="#">Enterprise</a></li>
            <li><a href="#">Membership</a></li>
            <li><a href="#">Preferred Freelancer Program</a></li>
            <li><a href="#">Project Managements</a></li>
            <li><a href="#">Local Jobs</a></li>
            <li><a href="#">Photo Anywhere</a></li>
            <li><a href="#">Showcase</a></li>
            <li><a href="#">API For Developers</a></li>
            <li><a href="#">Get Verified</a></li>
            <li><a href="#">Desktop Apps</a></li>
          </ul>
        </div>
        <div>
            <ul class="List2">
              <li class="About">About</li><br/>
              <li><a href="#">About Us</a></li>
              <li><a href="#">How It Works</a></li>
              <li><a href="#">Security</a></li>
              <li><a href="#">Investor</a></li>
              <li><a href="#">Sitemap</a></li>
              <li><a href="#">Stories</a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">Team</a></li>
              <li><a href="#">Awards</a></li>
              <li><a href="#">Press Release</a></li>
              <li><a href="#">Careers</a></li>
            </ul>
          </div>
          <div>
            <ul class="List3">
              <li class="Terms">Terms</li><br/>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms and Conditions</a></li>
              <li><a href="#">Copyright Policy</a></li>
              <li><a href="#">Code of Conduct</a></li>
              <li><a href="#">Fees and Charges</a></li>
            </ul>
          </div>
          <div>
            <ul class="List4">
              <li class="Apps">Apps</li><br/>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>